.inputField {
  min-width: 330px;
  padding-left: 10px;
}

.labelName {
  width: 110px;
  display: inline-block;
  padding-bottom: 10px;
}

.radioName {
  font-size: 14px;
  padding-right: 10px;
  padding-left: 5px;
}

.separator {
  padding-left: 10px;
  padding-right: 10px;
}
